<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Logueate</h3>

        </div>
        <div class="card-body">
          <form (ngSubmit)="guardar()" [formGroup]="formularioLogueo">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="fas fa-user"></i
                ></span>
              </div>
              <input
                class="form-control"
                formControlName="email"
                type="email"
                placeholder="Correo..."
                [class.is-invalid]="
                  formularioLogueo.get('email').invalid &&
                  formularioLogueo.get('email').touched
                "
              />
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input
                class="form-control"
                formControlName="contrasena"
                type="password"
                placeholder="Contrasena..."
                [class.is-invalid]="
                  formularioLogueo.get('contrasena').invalid &&
                  formularioLogueo.get('contrasena').touched
                "
              />
            </div>
            <div class="row align-items-center remember">
              <input type="checkbox" />Recuerdame
            </div>
            <div class="form-group">
              <input
                type="submit"
                value="Login"
                class="btn float-right login_btn"
              />
            </div>
          </form>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-center links">
            ¿No tienes cuenta?<a
              [routerLink]="['/auth/registro']"
              routerLinkActive="router-link-active"
              >Registrate</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
